<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>From</title>
</head>
<body>
    <form method="post" action="/chat">
        <label for="from">From : <input type="text" name="from" id="from"></label>
        <br><br>
        <label for="to">To : <input type="text" name="to" id="to"></label>
        <br><br>
        <label for="msg">Message : <input type="text" name="msg" id="msg"></label>
        <br><br>
        <button>Submit</button>
    </form>
</body>
</html>