body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    color: #fff;
    font-family: "Montserrat",sans-serif;
}

.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar{
width: 350px;
border-radius: 1rem;
background-color: black;
margin-right: 0.5rem;
}


.main-content {
    background-color: red;
    flex: 1;
    border-radius: 1rem;
    background-color: #121212;


}


.music-player{
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 75px;
    padding: 0.5rem;

}

.nav {
    display: flex;
    padding: 0.5rem 0.75rem;
    background-color: #121212;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    height: 100px;
}

.nav-option{
    line-height: 2.5rem;
    opacity: 0.5;
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-option:hover{
    opacity: 1;
}

.nav-option i {
    font-size: 1.25rem;
}

.nav-option a {
    text-decoration: none;
    color: #fff;
}

.library {
    background-color: #121212;
    border-radius: 1rem;
}

.your-lib{
    display: flex;
    justify-content: space-between;
    
    border-radius: 1rem;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}

.left img{
    height: 1.3rem;
    width: 1.3rem;
}

.left{
    display: flex;
    gap: 15px;
    opacity: 0.5;
}
.left a {
    text-decoration: none;
    color: white;
}

.left:hover{
    opacity: 1;
}

.right {
    margin-right: 8px;
    display: flex;
    gap: 15px;
}

.boxes {
    height:100vh;
}

.boxes .box {
    background-color: #232323;
    margin: 0.5rem;
    border-radius: 0.75rem;
}
.box {
    padding: 0.5rem;
    margin-bottom:1rem ;
}
.box-p1 {
    margin:1rem 0;
    font-weight: 600;
    font-size: 1rem;
}
.box-p2 {
    margin:1rem 0;
}

.box button {
    padding: 0.5rem;
    border: none;
    border-radius: 100px;
    font-weight: 700;
    margin-bottom: 0.5rem;
    opacity: 0.75;
    
}

.box button:hover{
    opacity: 1;
    cursor: pointer;
} 


.main-content {
    overflow: auto;
}
.navbar{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: #121212;
    padding: 0.5rem;
}

.navbar-option-1 {
       display: flex; 
       gap: 1rem;
    
}

.img-size {
    height: 20px;
}
.img-1,.img-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    padding: 0.2rem;
    border-radius: 100%;
}

.img:hover{
    background-color: #000;
    cursor: pointer;
} 

.navbar-btn {
    padding: 0.5rem;
    border: none;
    border-radius: 100px;
    font-weight: 700;
   margin-right: 0.5rem;
    opacity: 0.75;
}

.navbar-btn:hover{
    opacity: 1;
    cursor: pointer;
}
.navbar-btn-dark{
    background-color: #000;
    color: white;
}

@media (max-width:1000px){
    .hide{
        display: none;
    }
}


.card-section {
    margin: 0 1rem 0 1rem;
}
.card {
    width: 200px;
    height: 300px;
    padding: 0.5rem;
    background-color: #212121;
    border-radius: 0.5rem;
}

.card > img {
    width: 200px;
    height: 200px;
    border-radius: 0.5rem;
}
.c-h{
    margin: 0.5rem 0;
    font-size: 20px;
    font-weight: 700;
}

.c-d {
        font-size: 15px;
    
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
} 

.hr {
    height: 300px;
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    width: 90%;
    height: 30%;
    border-top: 1px solid #fff;
    opacity: 0.4;
}

.music-player{
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

.control-1{
    width: 25%;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.icon1 {
    height: 30px;
}
.icon2 {
    height: 45px;
}
.p1{
    font-weight: 700;
    font-size: 1.2rem;
}
.p2{
    margin-top: -14px;
    font-weight: 300;
    font-size: 0.8rem;
}
.control-2{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.control-3{
    width: 25%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 8px;
} 

.bar2{
    appearance: none;
    background-color: transparent;
}
.bar2::-webkit-slider-runnable-track{
    height: 0.1rem;
    background-color: #fff;
    border-radius:10px;
}
.bar2::-webkit-slider-thumb{
    appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-top: -6px;
    background-color: green;
}

.c3-i-1{
    height: 50px;
    opacity: 1;
}
.c3-i-2{
    height: 30px;
}
.c3-i-3{
    height: 28px;
}
.c3-i-4{
    height: 20px;
}
.c3-i-5{
    height: 45px;
}

.control-btn img {
    height: 1.1rem;
    opacity: 0.5;
}
.control-btn {
    display: flex;
    align-items: center;
    gap: 50px;
}

.control-btn img:hover{
    opacity: 1;
}

.control-bar {
    display: flex;
    gap: 3px;
    margin-top: 5px;
}

.bar{
    width: 450px;
    cursor: pointer;
    background-color: transparent;
     appearance: none;
    
    
}
.bar::-webkit-slider-runnable-track{
    height: 0.2rem;
    border-radius: 50%;
    background-color: #ddd;

   
}

.bar::-webkit-slider-thumb{
    appearance: none;
    height: 16px;
    width: 16px;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
}
